<article class="post">
    <div class="title">
        <span>({{post.post_id}})</span>
    </div>
    <div class="meta">
        {{content}}
        <br />
        Post by: {{user.username}}
        <br />
        {{created_at}}
        <br />
        
        <a href="/comment/">{{length}} Comment</a>
    </div>
</article>